body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#game {
    position: relative;
}

canvas {
    border: 1px solid #d3d3d3;
    /*background-color: #f1f1f1;*/
    background-image: url("sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: block;
}